body {
    background-color: #b3c2c3;
    margin: 0;
    color:black;
    font-family:'Times New Roman', Times, serif;
    line-height: 1.6em;
    padding: 10px;
    
}
* {
    box-sizing: border-box;
}
h1 {

    text-transform: uppercase;
}
h2 {
    color:#121212;
    text-decoration: none;
    font-size: 25px;
}
.highlight {
    /* color: #495857; */
    font-weight: bold;
    background-color: #f3f29e;
    padding: 5px;
}
.topnav {
    
    background-color: #03363e;
    overflow: hidden;
}
.topnav a {
    float: left;
    color: #f2f2f2;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    font-family:'Times New Roman', Times, serif;
}
.topnav a:hover {
    background-color: #f2f2f2;
    color: #333;
}

.banner {
    background-color: #03363e;
    color: white;
    padding: 20px;
    text-align: center;
}
.row::after {
    content: "";
    display: block;
    clear: both;
}
.content {
    float: left;
    width: 70%;
    padding: 20px;
}
.content a{
    text-decoration: none;
    color:antiquewhite;
}
.content a:hover{
    text-decoration: underline;
}
.sidebar {
    float: left;
    width: 30%;
    padding: 20px;
    background-color:darkcyan;
}
.sidebar a {
    color: #aaf3ee;
    text-decoration: none;
}
.sidebar a:hover {
    text-decoration: underline;
}
.sidebar ul{
    list-style-type: none;
    margin-bottom: 5px;
}


@media screen and (max-width: 800px) {
    .content, .sidebar {
        width: 100%;
        padding: 10px;
    }
}
.footer {
    background-color: #333;
    color: white;
    text-align: center;
    font-size: small;
    padding: 10px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
table {
    border: 1px solid black;
    border-collapse: collapse;
    width: 80%;
    margin: 0 auto;
}
table th{
    border: 1px solid black;
    padding: 8px;
    background-color: #34495e;
    color: white;
}
table td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}
tr:nth-child(even) {
    background-color:azure;
    color: #333;
    border: #333;
}
tr:hover {
    background-color: #377677;
    color:#333;
}
.form-control{
    border: 1px solid #ced4da !important;
    padding: 12px;
}